@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.buttons.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.buttons button {
  border-radius: 50px;
  outline: 0;
  border: 0;
  margin-right: 5px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: normal;
  color: #ffffff;
  font-weight: 600;
  line-height: 23px;
}

.buttons button.gray {
  background-color: grey;
  min-width: 110px;
  max-width: 110px;
}

.buttons button.green {
  background-color: green;
  min-width: 80px;
  max-width: 80px;
}

.up,
.down {
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 2px;
  display: block;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 1px solid #999;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  display: block;
  left: 6px;
  z-index: 2;
  width: 4px;
  height: 9px;
  background-color: transparent;
  border-bottom: 3px solid green;
  border-right: 3px solid green;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  padding-left: 18px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 2px;
  border-radius: 50%;
  display: block;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid #999;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  display: block;
  left: 2px;
  z-index: 2;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: green;
}

input[type="text"], input[type="search"] {
  width: 150px;
  height: 24px;
  padding: 0 2px;
  outline: 0;
  vertical-align: text-top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select {
  position: relative;
  width: 100px;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  border: 1px solid #999;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.column {
  display: inline-block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fields {
  position: relative;
}

.field {
  margin-right: 30px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 15px;
}

.field.selectbox {
  position: relative;
}

.field.selectbox:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 9px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  margin-top: -1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  z-index: 1;
}

.field.selectbox > label {
  display: none;
}

.field.txt-ipt-box {
  margin-right: 10px;
  position: relative;
}

.field.txt-ipt-box::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 3px;
  top: 50%;
  right: -8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #333;
  height: 18px;
}

.field.txt-ipt-box:nth-of-type(2)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 3px;
  top: 50%;
  right: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #333;
  height: 18px;
}

.field.second {
  margin-top: 20px;
}

.field .select-tit {
  font-size: 12px;
  margin-right: 5px;
  font-weight: bold;
  display: inline-block;
}

.field.tit-input {
  margin-left: 23px;
}

.field.ck-box {
  margin-bottom: 0;
  vertical-align: middle;
}

.por {
  position: relative;
}

.bg {
  background-color: #c5c5c5;
  padding: 10px 15px 0;
  border-radius: 0.5em;
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wd50 {
  width: 50%;
}

form {
  display: inline-block;
  margin-right: 30px;
}

fieldset {
  position: relative;
}

fieldset > span {
  display: inline-block;
  font-weight: bold;
  margin-right: 15px;
}

.answer {
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
  position: relative;
  color: #000;
}

.answer::after {
  background: url(../img/angle-double-right-solid.svg) no-repeat;
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: -2px;
  right: -26px;
}

a {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sel-span {
  display: inline-block;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: normal;
}

.txt-ipt,
.search-ipt {
  display: inline-block;
}

.btn-box {
  display: inline-block;
  vertical-align: middle;
}

.date-ipt {
  vertical-align: inherit;
  cursor: pointer;
}

.date-icon {
  position: absolute;
  top: 52%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 4px;
  display: inline-block;
}

.inp-box {
  display: inline-block;
  position: relative;
}

body {
  font-family: "Noto Sans", sans-serif;
}

body .wrapper {
  width: 100%;
  background-color: lightgray;
}

body .wrapper .inner {
  padding: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .wrapper .inner .top-search {
  margin-bottom: 10px;
}
/*# sourceMappingURL=default.css.map */