body {
  font-family: "Noto Sans", sans-serif;

  .wrapper {
    width: 100%;
    background-color: rgb(211, 211, 211);
    .inner {
      padding: 15px;
      width: 100%;
      box-sizing: border-box;
      .top-search {
        margin-bottom: 10px;
      }
    }
  }
}
