.buttons {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  &.center {
    align-items: center;
  }
  &.right {
    justify-content: flex-end;
  }
  button {
    border-radius: 50px;
    outline: 0;
    border: 0;
    margin-right: 5px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    color: #ffffff;
    font-weight: 600;
    line-height: 23px;
    &.gray {
      //   width: 100px;
      background-color: grey;
      min-width: 110px;
      max-width: 110px;
    }
    &.green {
      //   width: 100px;
      background-color: green;
      min-width: 80px;
      max-width: 80px;
    }
  }
}

.up,
.down {
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
}
