input {
  &[type="checkbox"] {
    display: none;
    + label {
      position: relative;
      padding-left: 25px;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: 2px;
        display: block;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: white;
        border: 1px solid #999;
      }
    }
  }
  &[type="checkbox"]:checked {
    + label {
      &::after {
        content: "";
        position: absolute;
        top: 3px;
        display: block;
        left: 6px;
        z-index: 2;
        width: 4px;
        height: 9px;
        background-color: transparent;
        border-bottom: 3px solid green;
        border-right: 3px solid green;
        transform: rotate(45deg);
      }
    }
  }
}

input {
  &[type="radio"] {
    display: none;
    + label {
      position: relative;
      padding-left: 18px;
      display: inline-block;

      cursor: pointer;
      vertical-align: top;
      &::before {
        content: "";
        position: absolute;
        top: 2px;
        border-radius: 50%;
        display: block;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: white;
        border: 1px solid #999;
      }
    }
  }
  &[type="radio"]:checked {
    + label {
      &::after {
        content: "";
        position: absolute;
        top: 4px;
        display: block;
        left: 2px;
        z-index: 2;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: green;
      }
    }
  }
}

input {
  &[type="text"],
  &[type="search"] {
    width: 150px;
    height: 24px;
    padding: 0 2px;
    outline: 0;
    vertical-align: text-top;
    box-sizing: border-box;
  }
}
