select {
  position: relative;
  width: 100px;
  padding: 3px;
  box-sizing: border-box;
  outline: 0;
  border: 1px solid #999;
  // background: #fff url(../img/sort-down-solid.svg) no-repeat;
  // background-position: right -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  &::-ms-expand {
    display: none;
  }
}
