.column {
  display: inline-block;
}

.row {
  display: flex;
}

.fields {
  position: relative;
}

.field {
  margin-right: 30px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 15px;

  &.selectbox {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: 9px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      margin-top: -1px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #333;
      z-index: 1;
    }
    > label {
      // position: absolute;
      // top: 1px;
      // left: 5px;
      // padding: 0.8em 0.5em;
      // color: #999;
      // z-index: -1;
      display: none;
    }
  }
  &.txt-ipt-box {
    margin-right: 10px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 3px;
      top: 50%;
      right: -8px;
      transform: translateY(-50%);
      background-color: #333;
      height: 18px;
    }
    &:nth-of-type(2) {
      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 3px;
        top: 50%;
        right: -20px;
        transform: translateY(-50%);
        background-color: #333;
        height: 18px;
      }
    }
  }

  &.second {
    margin-top: 20px;
  }
  .select-tit {
    font-size: 12px;
    margin-right: 5px;
    font-weight: bold;
    display: inline-block;
    // vertical-align: top;
  }
  &.tit-input {
    margin-left: 23px;
  }
  &.ck-box {
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.por {
  position: relative;
}

.bg {
  background-color: rgb(197, 197, 197);
  padding: 10px 15px 0;
  border-radius: 0.5em;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.wrap {
  flex-wrap: wrap;
}

.wd50 {
  width: 50%;
}

form {
  display: inline-block;
  margin-right: 30px;
}

fieldset {
  position: relative;
  > span {
    display: inline-block;
    font-weight: bold;
    margin-right: 15px;
  }
}

.answer {
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
  position: relative;
  color: #000;

  &::after {
    background: url(../img/angle-double-right-solid.svg) no-repeat;
    content: "";
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: -2px;
    right: -26px;
  }
}

a {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sel-span {
  display: inline-block;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: normal;
}

.txt-ipt,
.search-ipt {
  display: inline-block;

  // border: 1px solid #999;
  // vertical-align: top;
  // padding: 3px;
}

.btn-box {
  display: inline-block;
  vertical-align: middle;
}

.date-ipt {
  vertical-align: inherit;
  cursor: pointer;
}

.date-icon {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  right: 4px;
  display: inline-block;
}

.one-depth {
}

.inp-box {
  display: inline-block;
  position: relative;
}
